<nav id="menu-items">
    <a href="~/Main/Index">
        <span class="icomoon">&#xe902;</span>
        <span>首页</span>
    </a>
    <a href="~/Commodity/Store">
        <span class="icomoon">&#xe605;</span>
        <span>商城</span>
    </a>
</nav>
