@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kwcr5y');
	src:url('fonts/icomoon.eot?#iefixkwcr5y') format('embedded-opentype'),
		url('fonts/icomoon.ttf?kwcr5y') format('truetype'),
		url('fonts/icomoon.woff?kwcr5y') format('woff'),
		url('fonts/icomoon.svg?kwcr5y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
	content: "\e600";
}
.icon-forkandspoon:before {
	content: "\e606";
}
.icon-forkandknife:before {
	content: "\e607";
}
.icon-home:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-home3:before {
	content: "\e902";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-price-tag:before {
	content: "\e935";
}
.icon-price-tags:before {
	content: "\e936";
}
.icon-phone:before {
	content: "\e942";
}
.icon-user2:before {
	content: "\e971";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-half:before {
	content: "\e9d8";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-heart:before {
	content: "\e9da";
}
.icon-heart-broken:before {
	content: "\e9db";
}
.icon-arrow-left:before {
	content: "\ea38";
}
.icon-checkmark:before {
	content: "\e60c";
}
.icon-checkmark2:before {
	content: "\e60d";
}
.icon-cancel:before {
	content: "\e60e";
}
.icon-cancel2:before {
	content: "\e60f";
}
.icon-plus2:before {
	content: "\e608";
}
.icon-plus3:before {
	content: "\e609";
}
.icon-minus2:before {
	content: "\e60a";
}
.icon-minus3:before {
	content: "\e60b";
}
.icon-notice:before {
	content: "\e610";
}
.icon-notice2:before {
	content: "\e611";
}
.icon-cog:before {
	content: "\e612";
}
.icon-cogs:before {
	content: "\e613";
}
.icon-cog2:before {
	content: "\e614";
}
.icon-checkmark3:before {
	content: "\e615";
}
.icon-cancel3:before {
	content: "\e616";
}
.icon-locked:before {
	content: "\e617";
}
.icon-unlocked:before {
	content: "\e618";
}
.icon-magnifier:before {
	content: "\e619";
}
.icon-pencil:before {
	content: "\e61a";
}
.icon-reply:before {
	content: "\e61b";
}
.icon-forward:before {
	content: "\e61c";
}
.icon-heart2:before {
	content: "\e61d";
}
.icon-blocked:before {
	content: "\e61e";
}
.icon-atom:before {
	content: "\e61f";
}
.icon-heart3:before {
	content: "\e620";
}
.icon-heart4:before {
	content: "\e621";
}
.icon-switch:before {
	content: "\e622";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-rotate-right:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-child:before {
	content: "\f1ae";
}
.icon-done:before {
	content: "\e602";
}
.icon-gps-fixed:before {
	content: "\e623";
}
.icon-gps-not-fixed:before {
	content: "\e624";
}
.icon-local-grocery-store:before {
	content: "\e603";
}
.icon-apps:before {
	content: "\e601";
}
.icon-more-horiz:before {
	content: "\e625";
}
.icon-person:before {
	content: "\e604";
}
.icon-star2:before {
	content: "\e626";
}
.icon-star-half2:before {
	content: "\e627";
}
.icon-star-outline:before {
	content: "\e628";
}
.icon-shopping-cart:before {
	content: "\e605";
}
