*
{
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

html, body
{
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-color: rgb(245, 245, 245);
}

a
{
	text-decoration: none;
    color: rgb(0, 38, 255);
}

a:visited
{
    color: rgb(0, 38, 255);
}

.text-blue
{
    color: rgb(0, 38, 255);
}

button,
input[type=reset],
input[type=button],
input[type=submit]
{
	padding: 5px 10px;
	border-radius: 5px;
}

button,
input[type=reset],
input[type=button],
input[type=submit]
{
	-webkit-appearance: button;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(46, 109, 164);
	color: rgb(255, 255, 255);
	background-color: rgb(51, 122, 183);
	outline: 0px none rgba(255, 255, 255, 0);
}

button:hover,
input[type=reset]:hover,
input[type=button]:hover,
input[type=submit]:hover
{
	color: rgb(255, 255, 255);
	background-color: rgb(40, 96, 144);
	border-color: rgb(32, 77, 116);
	outline: 0px none rgba(255, 255, 255, 0);
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color]
{
	padding: 5px 3px;
	color: rgb(85, 85, 85);
	vertical-align: middle;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus
{
	border-color: rgba(59, 180, 242, 1);
	outline: 0;
	-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(59, 180, 242, 0.3);
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(59, 180, 242, 0.3);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
	display: none;
}

input[disabled],
button[disabled]
{
	cursor: default;
}




input[type=checkbox]
{
    display: none;
}

input[type=checkbox] + label
{
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

input[type=checkbox] + label:focus,
input[type=checkbox] + label:hover
{
}

input[type=checkbox]:checked + label
{
    border-color: rgba(76, 158, 217, 1);
    color: rgba(76, 158, 217, 1);
}

textarea
{
    padding: 5px 3px;
	color: rgb(85, 85, 85);
	vertical-align: middle;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	resize: none;
}

textarea:focus
{
    border-color: rgba(59, 180, 242, 1);
	outline: 0;
	-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(59, 180, 242, 0.3);
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(59, 180, 242, 0.3);
}

ul, li
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.button-primary
{
	color: rgb(255, 255, 255);
	background-color: rgb(51, 122, 183);
	border-color: rgb(46, 109, 164);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-primary:hover
{
	color: rgb(255, 255, 255);
	background-color: rgb(40, 96, 144);
	border-color: rgb(32, 77, 116);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-success
{
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
	border-color: rgb(76, 174, 76);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-success:hover
{
	color: rgb(255, 255, 255);
	background-color: rgb(68, 157, 68);
	border-color: rgb(57, 132, 57);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-info
{
	color: rgb(255, 255, 255);
	background-color: rgb(91, 192, 222);
	border-color: rgb(70, 184, 218);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-info:hover
{
	color: rgb(255, 255, 255);
	background-color: rgba(9, 168, 250, 0.96);
	border-color: rgba(13, 194, 248, 0.99);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-warning
{
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
	border-color: rgb(238, 162, 54);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-warning:hover
{
	color: rgb(255, 255, 255);
	background-color: rgb(236, 151, 31);
	border-color: rgb(213, 133, 18);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-danger
{
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
	border-color: rgb(212, 63, 58);
	outline: 0px none rgba(255, 255, 255, 0);
}

.button-danger:hover
{
	color: rgb(255, 255, 255);
	background-color: rgb(201, 48, 44);
	border-color: rgb(172, 41, 37);
	outline: 0px none rgba(255, 255, 255, 0);
}

.vertical-separator
{
    width: 1px;
    height: 90%;
    vertical-align: middle;
    box-shadow: -1px 0px 20px #CCC inset, 1px 0px 20px #CCC inset;
}


.display-flex
{
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.display-flex > .flex-one
{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.vertical-justify
{
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: inline-flexbox !important;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz--box-align: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
}

.vertical-justify > *
{
    display: block;
}

.vertical-center
{
    display: -moz-box !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-flex-flow: row;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -moz-box-pack: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.vertical-center > *
{
    display: block;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.inline-vertical-center
{
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-box-aliy: -webkit-inline-flex !important;
    display: inline-flex !important;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.inline-vertical-center > *
{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
/*
.vertical-center
{
	position: relative;
}

.vertical-center > *
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
*/

.copynight
{
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.mask
{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: rgba(150, 150, 150, 0.5);
    overflow: hidden;
}

.mask-fade-in
{
    -webkit-animation: mask-fade-in 1s infinite;
    animation: mask-fade-in 1s infinite;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    display: block;
    z-index: 999;
}

.mask-fade-out
{
    -webkit-animation: mask-fade-out 1s infinite;
    animation: mask-fade-out 1s infinite;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    display: none;
    z-index: 0;
}

@keyframes mask-fade-in
{
    0%
    {
        display: block;
        background-color: rgba(150, 150, 150, 0.0);
    }

    100%
    {
        display: block;
        background-color: rgba(150, 150, 150, 0.5);
    }
}

@-webkit-keyframes mask-fade-in
{
    0%
    {
        display: block;
        background-color: rgba(150, 150, 150, 0.0);
    }

    100%
    {
        display: block;
        background-color: rgba(150, 150, 150, 0.5);
    }
}

@keyframes aside-fade-out
{
    0%
    {
        width: 100%;
        background-color: rgba(150, 150, 150, 0.5);
    }

    100%
    {
        width: 0%;
        background-color: rgba(150, 150, 150, 0.0);
    }
}

@-webkit-keyframes aside-fade-out
{
    0%
    {
        display: block;
        background-color: rgba(150, 150, 150, 0.5);
    }

    100%
    {
        display: block;
        background-color: rgba(150, 150, 150, 0.0);
    }
}
