@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";
	this.ViewData["Title"] = "商城";
	this.ViewData["GoBack"] = this.Url.Content("~/Main/Index");
}

@section Styles
{
	<link type="text/css" rel="stylesheet" href="~/Styles/Commodity-Store.css" />
}

@section Scripts
{
	<script type="text/javascript" src="~/Scripts/Commodity-Store.js"></script>
}

<nav id="categories">
	@this.Html.Action("Commodity", "Category")
</nav>
<article id="commodities">
	@this.Html.Action("List", "Commodity")
</article>
