@keyframes FadeTopLeftIn
{
    0%
    {
        transform: translate(-150px, -50px);
    }

    100%
    {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes FadeTopLeftIn
{
    0%
    {
        -webkit-transform: translate(-150px, -50px);
    }

    100%
    {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes FadeTopRightIn
{
    0%
    {
        transform: translate(150px, -50px);
    }

    100%
    {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes FadeTopRightIn
{
    0%
    {
        -webkit-transform: translate(150px, -50px);
    }

    100%
    {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes FadeBottomLeftIn
{
    0%
    {
        transform: translate(-150px, 50px);
    }

    100%
    {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes FadeBottomLeftIn
{
    0%
    {
        -webkit-transform: translate(-150px, 50px);
    }

    100%
    {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes FadeBottomRightIn
{
    0%
    {
        transform: translate(150px, 50px);
    }

    100%
    {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes FadeBottomRightIn
{
    0%
    {
        -webkit-transform: translate(150px, 50px);
    }

    100%
    {
        -webkit-transform: translate(0px, 0px);
    }
}
